@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-attachment: fixed;
  background-repeat: no-repeat;

  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("src/assets/bg2.jpg");
  background-size: cover;
  background-position: center;
}

.custom-border {
  @apply border-[1px] border-white-400;
}
